.loading-container {
    position:fixed;
    top: 10%;
    left:0;
    right:0;
    bottom:10%;
    background-image: url("../../../assets/loading-screen.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index:9999;
}

.text-container {
    margin-top: 170px;
    background-color: rgba(108, 122, 137,0.8);
}
