<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 p-3">
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img src="https://imgur.com/L1JQwbh.png" class="card-img-top img-fluid" alt="Takenori Akagi Picture">
      <div class="card-body">
        <h5 class="card-title">Takenori Akagi</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img src="https://imgur.com/mvfKmhJ.png" class="card-img-top img-fluid" alt="Hanamichi Sakuragi Picture">
      <div class="card-body">
        <h5 class="card-title">Hanamichi Sakuragi</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img src="https://imgur.com/i3t0gOX.png" class="card-img-top img-fluid" alt="Kaede Rukawa Picture">
      <div class="card-body">
        <h5 class="card-title">Kaede Rukawa</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img src="https://imgur.com/ZaDG0Q3.png" class="card-img-top img-fluid" alt="Hisashi Mitsui Picture">
      <div class="card-body">
        <h5 class="card-title">Hisashi Mitsui</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img src="https://imgur.com/DWeqbhu.png" class="card-img-top img-fluid" alt="Ryota Miyagi Picture">
      <div class="card-body">
        <h5 class="card-title">Ryota Miyagi</h5>
      </div>
    </div>
  </div>
</div>