<div class="player-bg">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 p-3">
    <div class="col-lg-3 col-md-6" *ngFor="let item of players">
      <a [routerLink]="['/player', item._id]">
        <div class="card">
          <img src={{item.player.profile.image_url}} class="card-img-top img-fluid"
            alt={{item.player.profile.player_name.last_name}}>
          <div class="card-body">
            <h5 class="card-title">
              {{ item.player.profile.player_name.first_name }}
              {{ item.player.profile.player_name.last_name }}
            </h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>