<div class="mx-auto min-vh-100 h-100" style="background-color: #D9D9D9;">
    <div class="text-center pt-3">
        <!-- <div class="bg-danger m-3 p-3" >
            <a routerLink="admin/p" class="nav-link text-light">Teams</a>
        </div> -->
        <div class="button mb-1 m-xl-3 p-3 rounded-3">
            <a routerLink="admin/players" class="nav-link text-light">Players</a>
        </div>
        <div class="button m-xl-3 p-3 rounded-3">
            <a routerLink="admin/traits" class="nav-link text-light">Traits</a>
        </div>
    </div>
</div>