<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/offense">Offense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/defense">Defense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bg-warning" aria-current="true" routerLink="/traits/trick">Trick</a>
      </li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 p-3">
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Ankle Breaker</h5>
        <img src="https://imgur.com/tia5VLS.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ankle Breaking Rate +0.5%. If the Rival is accelerating, increase Ankle Breaking Rate by
            another 1%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Backbone</h5>
        <img src="https://imgur.com/u12FAuw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When in the paint, teammates' shot accuracy will be increased by 1% (Close, Mid-Range,
            3-Pointer)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Box-Out's Purpose</h5>
        <img src="https://imgur.com/x1JNeNC.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When you have an advantage boxing out, increase your rebounding ability by 1</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Dash & Rebound</h5>
        <img src="https://imgur.com/4IgGJTC.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When sprinting, your Rebound is increased by 1. When using a sprinting skill, your
            Rebound is increased by an extra 0.5
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Determination</h5>
        <img src="https://imgur.com/DOLbexp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase Rebound by +1 and Offensive Accuracy (Layup, Dunk, Close) by 1%
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Excellent Pass</h5>
        <img src="https://imgur.com/lxoXejM.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> When making an excellent pass to a teammate that teammates' offense accuracy will
            increase by 1% (Close, Mid-Range)
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Fake & Pass</h5>
        <img src="https://imgur.com/UZGETXS.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Successfully trick the rivals into jumping after making the fake shot, the teammate who
            catches the ball will get increased accuracy rate
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Field Focus</h5>
        <img src="https://imgur.com/fXSfBh7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">After making a pass to a teammate, teammates' Shot Accuracy increases by 1%, recovers +1
            energy with each assist</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Game Control</h5>
        <img src="https://imgur.com/XJhpqm7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When you successfully win a rebound, your rebounding ability will be increased by 1 until
            you miss a rebound</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">I'll Score</h5>
        <img src="https://imgur.com/cZQ9XYi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase total Ultimate by 1 and each score increases Ultimate energy by 0.5</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">King of Receiving Pass</h5>
        <img src="https://imgur.com/6XA1F2S.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">After receiving the ball, increases the Ankle Breaking Rate by 1% and Shooting Accuracy
            by 1% for 2 second(s) (Mid-Range, 3-Pointer)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Light of Hope</h5>
        <img src="https://imgur.com/MF7SuIX.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Extends the duration of status skills by +5%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">More Cheers</h5>
        <img src="https://imgur.com/ZWTXqTC.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Gain an additional 1 Ultimate Energy for every highlight performance (Steal, Rebound,
            Block, Shoot, Assist)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Paint Awakening</h5>
        <img src="https://imgur.com/g1mXjsb.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">For every 40 Energy points gained, Rebounding +0.2 and Blocking Range +0.02. Stackable up
            to 5 times</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Rapid Pick Up</h5>
        <img src="https://imgur.com/snjgDUZ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When sprinting, Pick Up and Diving Catch distances by +0.1 and Pick Up and Diving Catch
            heights increase by +0.1</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Run & Gun</h5>
        <img src="https://imgur.com/StOHAl2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">While holding the ball, your own speed and that of teammates is increased by 0.1</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Secret Weapon</h5>
        <img src="https://imgur.com/qMFp5t7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase the ultimate initial energy by 5%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Solo King</h5>
        <img src="https://imgur.com/oATVyqv.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Chance of ankle breaking or bumping an opponent increases by 1%, Steal and Interception
            Success Rate increase by +0.5%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Swingman</h5>
        <img src="https://imgur.com/9BbjjCj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When on offense, Mid-Range Accuracy +1%. When on defense, Blocking Range +0.1</p>
        </div>
      </div>
    </div>
  </div>
</div>