h1, p, hr {
    color: white;
    text-align: center;
}
.body {
    background-image: url("../../../assets/about-bg.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 900px;
    padding-top: 10%;
}
.imgCon {
    display: flex;
    justify-content: center;
}
img {
    width: 75px;
}
.forAbout{
    background-color: rgba(67, 46, 46, 0.9);
}
.forAbout.background {
    opacity: 0.5;
}
@media(min-width: 592px){
    .forAbout{
        width: 50%;
       
    }
}