<div class ="body">
    <div class="container forAbout mg-auto w-50 p-3" style="--bs-bg-opacity: .75;">
        <div class="container">
            <h1>About Us</h1>
            <hr>
            <p style="padding-left: 5%; padding-right: 5%;">We created this website to be an informative guide or wiki about the mobile game Slam Dunk from TV Animation. </p>
        </div>
        <br><br><br>
        <div class="container">
            <h1>The Team</h1>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="imgCon">
                            <img class="rounded-circle" src="../../../assets/about/riv.png">
                        </div>
                        <p>Avila, Riv Joshua</p>
                    </div>
                    <div class="col-sm">
                        <div class="imgCon">
                            <img class="rounded-circle" src="../../../assets/about/johnrod.png">
                        </div>
                        <p>Jardeleza, Johnrod</p>
                    </div>
                    <div class="col-sm">
                        <div class="imgCon">
                            <img class="rounded-circle" src="../../../assets/about/cj.png" style="background-color: white;">
                        </div>
                        <p>Mondonedo, Christian</p>
                    </div>
                    <div class="col-sm">
                        <div class="imgCon">
                            <img class="rounded-circle" src="../../../assets/about/gabriel.png">
                        </div>
                        <p>Sabater, Gabriel</p>
                    </div>
                    <div class="col-sm">
                        <div class="imgCon">
                            <img class="rounded-circle" src="../../../assets/about/jana.jpg">
                        </div>
                        <p>Yac, Jana Alyssa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>