<div class="container-fluid bg-danger mg-auto w-50 p-3" style="--bs-bg-opacity: .75;">
    <div class="container">
        <h1>About Us</h1>
        <hr>
        <p>We created this website to be an informative guide or wiki about the mobile game Slam Dunk from TV Animation. </p>
    </div>
    <div class="container">
        <h1>The Team</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="rounded-circle w-50" src="https://preview.redd.it/1zpld7rxcb831.jpg?width=640&crop=smart&auto=webp&s=663efc16396eef0dd2258a87a186ed4d7ecd70e7">
                    <p>Wow</p>
                </div>
                <div class="col-sm">
                    <img class="w-50 rounded-circle" src="https://preview.redd.it/1zpld7rxcb831.jpg?width=640&crop=smart&auto=webp&s=663efc16396eef0dd2258a87a186ed4d7ecd70e7">
                    <p>Wow</p>
                </div>
                <div class="col-sm">
                    <img class="w-50 rounded-circle" src="https://preview.redd.it/1zpld7rxcb831.jpg?width=640&crop=smart&auto=webp&s=663efc16396eef0dd2258a87a186ed4d7ecd70e7">
                    <p>Wow</p>
                </div>
                <div class="col-sm">
                    <img class="w-50 rounded-circle" src="https://preview.redd.it/1zpld7rxcb831.jpg?width=640&crop=smart&auto=webp&s=663efc16396eef0dd2258a87a186ed4d7ecd70e7">
                    <p>Wow</p>
                </div>
                <div class="col-sm">
                    <img class="w-50 rounded-circle" src="https://preview.redd.it/1zpld7rxcb831.jpg?width=640&crop=smart&auto=webp&s=663efc16396eef0dd2258a87a186ed4d7ecd70e7">
                    <p>Yac, Jana Alyssa</p>
                </div>
            </div>
        </div>
    </div>
</div>

