
.abilities{
    background-color: #ffeece;
}


.player-image{
    width: 70px;
}

.player-ultimate-image{
    width: 120px;
}

.skills{
    padding-left: 150px;
    padding-right: 150px;
}

@media (min-width:768px) and (max-width:1200px){
    .skills{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1075px) {
    .skills{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px) {
    .abilities {
        background: rgb(255, 238, 206, 0.8) !important;
    }
}