<div class="skills d-flex align-items-center justify-content-center">
    <div class="border border-5">
        <div class="name text-light text-center px-1 pt-1 bg-dark">
            <span class="me-2">SHOHOKU</span>
            <span>TAKENORI AKAGI</span>
            <div class="position pb-2">
                <span class="me-2">C</span>
                <span>{{item}</span>
            </div>
        </div>
        <div class="text-center opacity-75 " style= "background-color: #892E2A">
            <span class="d-block text-center border-bottom border-1 text-light p-2 fw-bolder">Shohoku High School </span>
                <span class="d-block text-center border-bottom border-1 text-light p-2 fw-bolder" >197 cm </span>
                <span class="d-block text-center border-bottom border-1 text-light p-2 fw-bolder" >90 Kg </span>
            <p class="text-light m-0 p-2 fw-bolder">Leader of a group of unique players including Sakuragi Hanamichi, he is trusted by the entire
                Team Shohoku. With his incredible defense ability in the paint.
            </p>
        </div>
        <div class="abilities p-2">
            <div class=" d-flex justify-content-evenly flex-wrap ">
                <img src="https://imgur.com/2XkAfPj.png" class="player-image rounded-circle img-fluid">
                <img src="https://imgur.com/JcAwjf9.png" class="player-image rounded-circle img-fluid">
                <img src="https://imgur.com/t5Ik6ly.png" class="player-image rounded-circle img-fluid">
                <img src="https://imgur.com/qg0itge.png" class="player-image rounded-circle img-fluid">
            </div>
            <div class="text d-flex justify-content-center align-items-center fs-5 fw-bolder">
                <img src="https://imgur.com/Pvb2amf.png" class="player-ultimate-image rounded-circle img-fluid">
                <p>Akagi Dunk</p>
            </div>
        </div>
    </div>
</div>


