<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active bg-warning" aria-current="true" routerLink="/traits/offense">Offense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/defense">Defense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/trick">Trick</a>
      </li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 p-3">
    <div class="col-lg-3 col-md-4" *ngFor="let item of traits">
      <div class="card">
        <h5 class="card-header">{{ item.name }}</h5>
        <img src= "{{ item.image_url }}" class="card-img-top" alt="{{ item.name }} Picture">
        <div class="card-body">
          <p class="card-text"> {{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>