.nav-link {
  color: #661a1a;
  font-weight: bold;
}

div>.card>.card-header {
  background-color: #561616;
  color: white;
}

div>.card {
  background-color: #ffeece;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

div>.card>img {
  margin-top: 10px;
  transition: transform .5s ease;
}
div>.card > img:hover {
  transform: scale(1.2);
}

div>.card-text {
  color: #661a1a;
  font-weight: 500;
}

@media (min-width: 992px) {
  .nav {
    margin-right: 40%;
  }
  div > .card{
    height: 22rem;
  }
  div>.card>img {
    display: flex;
    max-height: auto;
    max-width: 50%;
    align-self: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div > .card{
    height: 27rem;
  }
}