<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active bg-warning" aria-current="true" routerLink="/traits/offense">Offense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/defense">Defense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/trick">Trick</a>
      </li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 p-3">
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Ace's Duty</h5>
        <img src="https://imgur.com/86yMPwh.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Accuracy of offensive moves increase by 1%. (Close Shots,
            Mid-Range, 3-Pointers, Layups, Dunks)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Baseline 3-pointer</h5>
        <img src="https://imgur.com/YcgYVNh.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When you are in the corner of the bottom line, increase your 3-Pointer accuracy by 1%.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Dunking Monster</h5>
        <img src="https://imgur.com/IlTXzHN.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase the chance of knocking the Rival away when dunking by 1.2%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Double Center</h5>
        <img src="https://imgur.com/KIkOBwD.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When a teammate is a Center or Power Forward, increase Rebound
            by +1 and Offensive Accuracy by +0.5% (Layup, Slam Dunk)
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Final Willpower</h5>
        <img src="https://imgur.com/y4n6yCe.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ankle Breaking Rate +0.5%, Passing Speed +1, and Mid-Range,
            Layup, and Dunk Accuracy +1%
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Hot Hand</h5>
        <img src="https://imgur.com/gqB6TWQ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Every 3-pointer you score increases your 3-point shot accuracy by 1%
            until the match ends (up to 5 stack(s))
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Instant Change</h5>
        <img src="https://imgur.com/v3kqBIv.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increases the chance of ankle breaking by 1%, while increasing
            mid range and 3-point accuracy by 1%
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Long Shot</h5>
        <img src="https://imgur.com/I2WlK1t.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase secured catching distance by +1, and 3-point hit rate by 1%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Never Give Up</h5>
        <img src="https://imgur.com/2qCh1ox.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When a shot is missed, increase the accuracy of your next 3-Pointer by 1%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Open Shooter</h5>
        <img src="https://imgur.com/GVApniO.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your Mid-Range shot accuracy by 1% when you are open</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Score in the Air</h5>
        <img src="https://imgur.com/4I9XPZP.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase contest value of Tip-In, Tip-In Dunk and Putback by +1, Hit Rate additionally
            increases by 1%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Teammates' Trust</h5>
        <img src="https://imgur.com/bjqyu11.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increases Mid-Range shot accuracy by 1% for 2 second(s) after catching a pass from a teammate</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Terminator</h5>
        <img src="https://imgur.com/Rj9lsnF.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ultimate cumulative charge +1</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Unstoppable</h5>
        <img src="https://imgur.com/LfeGyyG.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ankle breaking rate +0.5%, increase offense accuracy (3-pointers, Mid-Range, Close Shots, Layups, Dunks) by 1%</p>
        </div>
      </div>
    </div>
  </div>
</div>