<!-- TODO: remove bootstrap boiler plate -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-md-5">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <!-- <img src="" alt="nav" /> -->
            <span>Logo</span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                    Articles
                </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-light" href="#">Team</a></li>
                        <li><a class="dropdown-item text-light" href="#">Players</a></li>
                        <li><a class="dropdown-item text-light" href="#">Traits</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item d-md-inline d-lg-none">
                    <a href="" class="text-decoration-none text-danger">Sign in</a>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-inline">
            <a href="" class="text-decoration-none text-danger">Sign in</a>
        </div>
    </div>
</nav>
