.navbar-collapse {
    flex-grow: 0 !important;
}
.navbar-brand > img {
    height: 50px;
    border-radius: 40px;
}
.sign-in {
    color: orange;
}
.sign-in:hover {
    border: 1px solid orange !important;
}
.active {
    color: red !important;
}