.forum-container{
    max-width: 100%;
    min-height: 1100px;
    background-image: url("../../../assets/forum-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 35% bottom 45%;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: orange;
    outline: 0;
    box-shadow: none !important;
}