.forum-container{
    max-width: 100%;
    height: 100vh;
    background-image: url("../../../assets/forum-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: orange;
    outline: 0;
    box-shadow: none !important;
}