<div class="dashboard-container">
    <div class="row">
        <aside class="col-lg-2 d-none d-lg-block">
        <app-sidebar></app-sidebar>
        </aside>
        <section class="col-lg-10">
            <div class="container p-5">
                <div class="d-flex justify-content-end mb-5">
                    <a routerLink="/create" class="btn bg-danger text-light">Create new</a>
                </div>
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>
</div>
