<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/offense">Offense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bg-warning" aria-current="true" routerLink="/traits/defense">Defense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traits/trick">Trick</a>
      </li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 p-3">
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Air Contest</h5>
        <img src="https://imgur.com/4YSNErD.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your blocking range by 0.1 when blocking a Rival's Dunk or Layup</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Block Shot</h5>
        <img src="https://imgur.com/aPO4Mpd.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your Blocking Range by 0.1 when blocking a Rival's shot (Close, Mid-Range, 3-Pointer)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Close Defense</h5>
        <img src="https://imgur.com/yGl0nng.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When you are in the Rival's defense zone, lower the Rival's movement speed by 0.2</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Determined Block</h5>
        <img src="https://imgur.com/uWBloro.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Block Range +0.1, recover 1 point(s) of energy after a successful block
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Expert Blocker</h5>
        <img src="https://imgur.com/GrBmDIo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">After blocking a shot, Blocking Range +0.1 until an unsuccessful attempt
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Fast Breaker</h5>
        <img src="https://imgur.com/FmvybZK.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your stealing rate by 1 when stealing a ball from a Rival's arms
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Hider</h5>
        <img src="https://imgur.com/kik4kLF.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your stealing rate by 1 when stealing a ball from a Rival in the paint
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Interceptor</h5>
        <img src="https://imgur.com/JVcUCws.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase the chance of interception by 1% when accelerating</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Perfect Defense</h5>
        <img src="https://imgur.com/Gp7VW4E.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your Interference Rate by 2% when you stay in the Rival's defense zone for over 2 second(s)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Punisher</h5>
        <img src="https://imgur.com/opxmwYa.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When the Rival possesses the ball, increase the stealing rate by 1%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Sprint Block</h5>
        <img src="https://imgur.com/O4B467v.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increase your Blocking Range by 0.1 when blocking a Rival while sprinting</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Swift Defense</h5>
        <img src="https://imgur.com/0TA1yMy.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Chance of Steal +1%, Blocking Range +0.1</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Unshakable</h5>
        <img src="https://imgur.com/FknGrEe.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">When you are defending, lower the chance of your ankles being broken by 1%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <h5 class="card-header">Watch Your Back</h5>
        <img src="https://imgur.com/eS3Wm6x.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Increases Intercept Rate by 1% when Rival uses behind-the-back passes</p>
        </div>
      </div>
    </div>
  </div>
</div>