<div class="contact-container  align-items-center">
    <div class="talk-to-us p-5 ">
        <div class="text-center"><h1>TALK TO US</h1></div>


    <form ngNativeValidate>

        <!---Name-->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" placeholder="Name" required/>
            <label for="floatingInput">Name</label>
        </div>

        <!---Email-->
        <div class="form-floating mb-3 ">
            <input type="email" class="form-control" name="title" placeholder="Email" required/>
            <label for="floatingTextarea">E-mail</label>
        </div>

        <!---Messages-->
        <div class="form-floating">
            <textarea class="form-control" name="content" id="floatingTextarea" placeholder="content" autosize required></textarea>
            <label for="floatingTextarea">Messages</label>
        </div>

        <!---Submit-->
        <div class="mt-3">
            <button type="submit" class="btn text-white float-end" style="background-color: #8E1600">Submit</button>
        </div>
    </form>


</div>
</div>