.contact-container{
    max-width: 100%;
    min-height: 1100px;
    background-image: url("../../../assets/Contactbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 35% bottom 45%;

}

.talk-to-us{
    width: 50%;
}

@media (max-width: 768px ){
    .talk-to-us{
        width: 100%;
    }
    .title-contact {
        background: rgba(229, 161, 128, 0.8);
    }
    .contact-form {
        opacity: 0.8;
    }
}




