<div class="contact-container  align-items-center">
    <div class="talk-to-us p-5 ">
        <div class="text-center title-contact">
            <h1>TALK TO US</h1>
        </div>


    <form 
    #contactForm="ngForm"
    (ngSubmit)="contactForm.reset()" 
    ngNativeValidate 
    [action]='api_url' 
    method="POST"
    target="_blank"
    >
        <input type="hidden" name="_subject" value="New comment!">
        <input type="hidden" name="_next" value="https://slam-dunk.vercel.app/thanks">
        <div class="form-floating mb-3 contact-form">
            <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="name" required/>
            <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating mb-3 contact-form">
            <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="email" required/>
            <label for="floatingTextarea">E-mail</label>
        </div>

        <div class="form-floating contact-form">
            <textarea class="form-control" name="comment" id="floatingTextarea" placeholder="content" [(ngModel)]="comment" autosize required></textarea>
            <label for="floatingTextarea">Messages</label>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn text-white float-end" style="background-color: #8E1600">Submit</button>
        </div>
    </form>


</div>
</div>