.contact-container{
    max-width: 100%;
    height: 1100px;
    background-image: url("../../../assets/Contactbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.talk-to-us{
    width: 50%;
}

@media (max-width: 768px ){
    .talk-to-us{
        width: 100%;
    }
}



