<div class="dashboard-container d-flex justify-content-end align-items-center">
    <div class="skills border border-5 ">
        <div class="name text-light text-center p-1 bg=">
            <span class="me-2">SHOHOKU</span>
            <span>TAKENORI AKAGI</span>
            <div class="position">
                <span class="me-2">C</span>
                <span>All-Around Center</span>
            </div>
        </div>
        <div class="bg-light p-2">
            <div class=" d-flex justify-content-evenly ">
                <img src="https://imgur.com/2XkAfPj.png" class="player-image rounded-circle img-fluid">
                <img src="https://imgur.com/JcAwjf9.png" class="player-image rounded-circle img-fluid">
                <img src="https://imgur.com/t5Ik6ly.png" class="player-image rounded-circle img-fluid">
                <img src="https://imgur.com/qg0itge.png" class="player-image rounded-circle img-fluid">
            </div>
            <div class="text d-flex align-items-center fs-5 fw-bolder">
                <img src="https://imgur.com/Pvb2amf.png" class="player-ultimate-image rounded-circle img-fluid">
                <p>Akagi Dunk</p>
            </div>
            
        </div>
        <div class="button d-flex justify-content-center my-2">
            <button class="btn bg-danger">Player Info</button>
        </div>
    </div>
</div>

