.dashboard-container{
    min-height: 700px;
    background-image: url("../../../assets/new-akagi.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.player-image{
    width: 70px;
}

.player-ultimate-image{
    width: 120px;
}

.skills{
    
    margin-right: 150px;
}

.text{
    margin-left: 20px;
}