.register-bg{
    max-width: 100%;
    min-height: 1100px;
    background-image: url("../../../assets/Rukawa-Thread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}