<div class="d-flex justify-content-between mx-auto align-items-center mx-5 p-4 text-center flex-wrap flex-lg-nowrap" style="background-color: #EFEFEF">
    <div class="text-center mx-auto w-100">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/SlamDunk_Logo2.png" alt="nav" height="80px" width="200px"/>
        </a>
    </div>
    <div class="text-center my-4 my-lg-0 mx-auto w-100">
        <span>
            &copy; {{date}} Slam Dunk Wiki. All rights reserved.
        </span>
    </div>
    <div class="text-center mx-auto w-100">
        <span>Follow our socials</span>
        <div class="d-flex justify-content-evenly mt-3">
            <a href="https://www.facebook.com/SLAMDUNKGLOBAL" target="_blank" class="text-decoration-none text-dark"> <fa-icon [icon]="faFacebook"></fa-icon></a>
            <a href="https://www.instagram.com/slamdunk_movie/" target="_blank" class="text-decoration-none text-dark"> <fa-icon [icon]="faInstagram"></fa-icon></a>
            <a href="" target="_blank" class="text-decoration-none text-dark"> <fa-icon [icon]="faTwitter"></fa-icon></a>
            <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank" class="text-decoration-none text-dark"> <fa-icon [icon]="faYoutube"></fa-icon></a>
            <a href="https://www.reddit.com/r/SlamdunkMobile_EN/" target="_blank" class="text-decoration-none text-dark"> <fa-icon [icon]="faReddit"></fa-icon></a>
    </div>
</div>
