<div class="thread-bg">
    <div class="w-100 p-5 opacity-75">
        <div class="ms-5 p-5 rounded" style="background-color: #E5A180">
            <h1>Lorem ipsum dolor sit.</h1>
        </div>
    </div>
    <div class="container opacity-50 w-75 mb-5 rounded" style="background-color: #1C1616">
        <div class="w-75 p-2 p-lg-5 text-white">
            <span>
                Lorem, ipsum.
            </span>
            <div class="border-bottom">
                Comment
                <!-- <input type="text" name="comment" id="" class="bg-transparent border-none outline-none">    -->
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-secondary">post</button>
            </div>
        </div>
        <div class="w-full mx-lg-5 pb-3">
            <app-thread></app-thread>
            <app-thread></app-thread>
            <app-thread></app-thread>
        </div>
    </div>
</div>