.thread-bg{
    max-width: 100%;
    min-height: 1100px;
    background-image: url("../../../assets/Haruko-Thread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 10% bottom 45%;
}
.title-container {
    background: rgba(239, 159, 87, 0.9);
    text-transform: capitalize;
}
.foreground {
    background: rgba(28, 22, 22, 0.8);
}

.btn{
    background-color: #EE7C1C;
}