<div class="thread-bg">
    <div class="w-100 p-lg-5 p-md-3 p-2">
        <h1 class="title-container mx-auto p-lg-5 p-md-4 p-3 rounded-4">{{ title }}</h1>
    </div>
    <div class="container mx-auto w-lg-75 mb-5 rounded main-container">
        <div class="foreground rounded-3">
            <div class=" p-2 p-lg-5 text-white comment-container">
                <span>
                    Commenting as {{ author }}
                </span>
                <div>
                    <form>
                        <div class="form-floating">
                            <textarea 
                            class="form-control text-white bg-transparent shadow-none border-warning" 
                            name="comment" 
                            placeholder="comment" 
                            [(ngModel)]="comment" 
                            autosize 
                            required></textarea>
                            <label for="floatingTextarea">Comment</label>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" (click)="onReply()" class="btn text-light">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-full mx-lg-5 p-3 thread-container">
                <app-thread [forum]="data"></app-thread>
            </div>
        </div>
    </div>
</div>