<div class="dashboard-container d-flex justify-content-end align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <app-player-info></app-player-info>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-secondary">
                    <app-player-attributes></app-player-attributes>
                </div>
            </div>
        </div>
    </div>
</div>

