<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h5 class="fw-bold text-light border-bottom">Offensive Attribute</h5>
        </div>

        <div class="row">
          <div class="text-light col-2">Close
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="61" aria-valuemin="0"
                aria-valuemax="100" style="width:61%;">61</div>

            </div>
          </div>
          <div class="text-light col-2">Middle
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:52%;">52</div>

            </div>
          </div>
          <div class="text-light col-2">3PT
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:12%;">12</div>

            </div>
          </div>
          <div class="text-light col-2">Dunk
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:71%;">71</div>

            </div>
          </div>
          <div class="text-light col-2">Layup
          </div>

          <div class="col-10">
            <div class="progress" style="width: 100%;">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:61%;">61</div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <h5 class="fw-bold text-light border-bottom">General Attribute</h5>
        </div>

        <div class="row">
          <div class="text-light col-2">Control
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="61" aria-valuemin="0"
                aria-valuemax="100" style="width:61%;">61</div>

            </div>
          </div>
          <div class="text-light col-2">Strength
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:52%;">52</div>
            </div>
          </div>
          <div class="text-light col-2">RES
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:12%;">12</div>

            </div>

          </div>
          <div class="text-light col-2">Jump
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:71%;">71</div>

            </div>
          </div>
          <div class="text-light col-2">Run
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:61%;">61</div>

            </div>
          </div>
          <div class="text-light col-2">Dribble
          </div>

          <div class="col-10">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                aria-valuemax="100" style="width:61%;">61</div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h5 class="fw-bold text-light border-bottom">Defense Attribute</h5>
      </div>

      <div class="row">
        <div class="text-light col-1">REB
        </div>

        <div class="col-11">
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="61" aria-valuemin="0"
              aria-valuemax="100" style="width:61%;">61</div>

          </div>
        </div>
        <div class="text-light col-1">BLK
        </div>
        <div class="col-11">
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="62" aria-valuemin="0"
              aria-valuemax="100" style="width:52%;">52</div>

          </div>
        </div>
        <div class="text-light col-1">Jam
        </div>

        <div class="col-11">
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="62" aria-valuemin="0"
              aria-valuemax="100" style="width:12%;">12</div>

          </div>
        </div>
        <div class="text-light col-1">STL
        </div>

        <div class="col-11">
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="62" aria-valuemin="0"
              aria-valuemax="100" style="width:71%;">71</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>